body {
    background: antiquewhite;
}

.card {
    background: #224662;
    border-radius: 5px;
}

#calc-display {
    background: #e0e0e0;
    height: 55px;
    border-color: #e0e0e0;
}

.heading {
    height: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #B4B4B3;
    color: rgb(0, 0, 0);
    text-align: center;
}